<% if !user_signed_in? %>
  <div class="jumbotron">
    <h1>Your Favorite Plays Reviewed</h1>
    <p>Blah blah blag bpoijp  jpoij o oijpoij oijojpoij oipoijo.
      oijpiojO. opjopijoim,poi0upjw849-8.
    </p>
    <p><%= link_to "Sign Up To Write A Review", new_user_registration_path, class: "btn btn-primary btn-lg" %></p>
  </div>
<% end %>

<div class= "row">
  <% @plays.each do |play| %>
    <div class="col-sm-6 col-md-3">
      <div class="thumbnail">
        <%= link_to (image_tag play.image.url(:medium), class: 'image'), play %>
      </div>
    </div>
  <% end %>
</div>
