<div class="page-header">
  <%= link_to play_path(@play), class: 'btn btn-default' do %>
    <span class="glyphicon glyphicon-list-alt"></span>
    Back
  <% end %>
  <h1>New review</h1>
</div>

<%= render 'form' %>
